@import url(./assets/css/basic.css);
@import url(./assets/css/widgets.css);
@import url(./assets/css/common.css);
@import url(./components/ui/css/style.css);
@import url(./assets/css/home.css);



* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html, body {
  border: none;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Mulish';
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  color: #000 !important;
  transition: all 0.2s ease-in;
}

ul, ol  {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a, a:active, a:visited, a:focus {
  text-decoration: none !important;
  color: #000;
}

p {
  margin: 0;
}

/** Header CSS **/

header.mainHeader {
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.innerHeader {
  background-color: #3045FD;
  padding: 10px 0;
}

.innerHeaderWrap {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
}

.mainHeader .header_wrap {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.mainHeader .logo img {
  max-width: 130px;
}

button.hamburger {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3045fd;
  position: relative;
  z-index: 2;
}

.hamburger span.bar {
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    background: #fff;
}

.hamburger span.bar:before, .hamburger span.bar:after {
  content: '';
  height: 2px;
  width: 20px;
  left: 0;
  position: absolute;
  background: inherit;
  transition: all 0.3s ease;
}

.hamburger span.bar:before {
    top:-8px;
}

.hamburger span.bar:after {
    top: 8px;
}

button.hamburger:hover span.bar {
    background: #3045fd;
}

ul.social_wrap {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

ul.social_wrap li {
  margin: 0 10px;
}

ul.social_wrap li a {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  gap: 10px;
  color: #000;
  font-weight: 500;
  font-size: 13px;
}

ul.social_wrap li a span {
  display: block;
  color: #3045FD;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

ul.social_wrap li.login a {
  background-color: #F3F4FF;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 15px;
}

ul.social_wrap li.login a:hover {
  color: #3045FD;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

ul.social_wrap li.login a img {
  width: 40px;
  height: 40px;
}

ul.social_wrap li:not(.login) img {
  transition: all 0.3s ease;
}

ul.social_wrap li:not(.login) a:hover img {
  transform: rotateY(360deg);
}

.navigationWrapper {
  overflow: hidden;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 40px;
}

.navigationWrapper ul {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.navigationWrapper ul li.menu_item {
  margin: 10px 0;
}

.navigationWrapper ul li.menu_item a {
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
}

/** Header CSS Ends here **/

/** InnerPage Header CSS **/

.innerPg_header {
  padding: 1rem 0;
  background-color: #3045FD;
  color: #fff;
}

.innerPg_header h2 {
  margin: 15px 0;
  text-align: center;
}


/** Footer CSS starts here **/

.footer-sec {
    background-color: #3045FD;
    padding: 3rem 0;
}

.footer-sec .logoWrap {
    text-align: center;
}

.footer-sec .logoWrap a {
    display: inline-block;
    margin: 0 auto;
}

.footer-sec .logoWrap img {
    margin: 0 auto 30px;
    display: block;
    width: 180px;
}

.footer-sec .footerCol_inner {
    width: 80%;
    margin: 0 auto;
}

.footer-sec .footerCol_inner p {
    color: #fff;
    text-align: center;
    font-size: 14px;
}

ul.social_info {
    display: flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    gap: 20px;
}

ul.social_info li a {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #22e4ac;
    border-radius: 50%;
    color: #fff;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
}

ul.social_info li a:hover {
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,0.5);
    border-color: transparent;
}

.copyright {
    background-color: #3045FD;
    text-align: center;
    color: #fff;
    font-size: 13px;
    padding: 10px 0;
}










/** Responsive CSS starts here **/

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
 
}

@media (max-width: 1199.98px) {

  ul.social_wrap li a {
      font-size: 12px;
  }

  ul.social_wrap li a span {
      font-size: 12px;
  }

  ul.social_wrap li.login a {
      font-size: 14px;
  }

  ul.social_wrap li.login a img {
      width: 35px;
      height: 35px;
  }

  .footer-sec {
      padding: 2rem 0;
  }

  .footer-sec .logoWrap img {
      width: 160px;
  }
}

@media (max-width: 991.98px) {

  .innerHeader {
      padding: 8px 0;
  }

  .innerHeaderWrap {
      font-size: 12px;
  }
  
  .mainHeader .logo img {
      max-width: 120px;
  }

  ul.social_info li a {
      width: 35px;
      height: 35px;
      font-size: 14px;
  }

  ul.social_wrap li:not(.login) img {
      width: 28px;
  }

  ul.social_wrap li.login a {
      font-size: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      background-color: transparent;
  }
  
  ul.social_wrap li.login a img {
      width: 42px;
      height: 42px;
  }
}

@media (max-width: 767.98px) {

  .mainHeader .header_wrap {
      padding: 8px 0;
  }

  .navigationWrapper ul li.menu_item a {
      font-size: 16px;
  }

  .mainHeader .logo img {
      max-width: 120px;
  }

  ul.social_wrap li:not(.login) {
    display: none;
  }

  .innerPg_header h2 {
      font-size: 1.5rem;
  }

  .footer-sec .logoWrap img {
      width: 140px;
  }

  .footer-sec .footerCol_inner p {
      font-size: 13px;
  }

  ul.social_info {
      margin: 20px 0 10px;
  }
}

@media (max-width: 575.98px) {

  .mainHeader .logo img {
      max-width: 110px;
  }

  ul.social_wrap li.login a img {
      width: 32px;
      height: 32px;
  }

  .innerPg_header {
      padding: 85px 0 30px 0;
  }

  .innerPg_header h2 {
      font-size: 1rem;
  }

  .footer-sec .logoWrap img {
      width: 130px;
      margin: 0 auto 15px;
  }

}