.rs-picker-subtle .rs-picker-toggle:focus, .rs-picker-subtle .rs-picker-toggle:hover {
  background-color: #fff !important;
}

.rs-picker-input {
  border: transparent !important;
}

.rs-input, .rs-picker-default .rs-picker-toggle, .rs-picker-toggle, .rs-picker-input.rs-picker-toggle-wrapper {
  border: 1px solid transparent !important;
  border-bottom: 1px solid #ccc !important;
  outline: none;
  border-radius: 0 !important;
}

.rs-picker-date.rs-picker-toggle-wrapper {
  border: none !important;
}

.rs-picker.rs-picker-focused {
  box-shadow: none !important;
}

.rs-picker-search-input {
  border: none !important;
}

.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #000;
  transform-origin: 0%;
  z-index: 999;
}





/** Responsive CSS starts here **/

@media (max-width: 475.98px) {
  .rs-picker-date.rs-picker-toggle-wrapper, .rs-picker-toggle-wrapper {
    width: 100%;
  }
}